.browser_play {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 100px;
    padding: 0 20px;
}
@media (max-width: 900px) {

}

.browser_play_desc {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 auto;
    color: #ABABAB;
    font-weight: 300;
}

.browser_play_img {
    flex-basis: 500px;
    height: 100%;
    background: url('../../assets/img/browser.png') no-repeat center;
    background-size: contain;
}