.download {
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
    padding: 0 20px;
}
.download_title a {
    align-self: end;
}
.operations_systems {
    gap: 90px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 508px) {
    .download h2 {
        text-align: center;
    }
}