.icon_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
.icon_item img {
    display: block;
    margin: 0 auto;
}
.icon_item:not(:last-child)::after {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: #57D6FF;
    right: -80px;
    top: 30%;
}

@media (max-width: 860px) {
    .icon_item:not(:last-child)::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 70px;
        background-color: #57D6FF;
        right: 50%;
        top: 117px;
    }
}

.icon_item span {
    display: block;
    text-align: center;
    font-weight: 300;
    font-family: 'Aire-Exterior',sans-serif;
}