.header_nav {
    gap: 30px;
    font-family: 'Aire-Exterior', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 180%;
    color: #FFFFFF;
    transition: 1s;
}

.header_nav .icons_links {
    transform: scale(0);
}

@media (max-width: 1232px) {
    .header_nav {
        flex-direction: column;
    }

    .header_nav .icons_links {
        transform: scale(1);
    }

    .header_nav, .header_nav_active {
        position: absolute;
        transition: 0.7s;
        display: flex;
        flex-direction: column;
        top: 70px;
        z-index: 2;
        left: 0;
        width: 100%;
        background-color: #141C24;
        border-radius: 20px;
        height: 100vh;
    }

    .header_nav {
        transform-origin: top center;
        transform: translate(150%, 0);
    }

    .header_nav_active {
        transform-origin: top center;
        transform: translate(0%, 0%);
    }
}
