.my_title span {
    display: inline-block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 180%;
    color: #57D6FF;
}

.my_title span:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #57D6FF;
    top: 50%;
    left: -90px;
}