header {
    margin-bottom: 50px;
}

.header_section {
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 20px;
    margin-top: 20px;
}

@media (max-width: 1232px) {
    .burger-btn {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        opacity: 0.3;
        cursor: pointer;
    }

    .burger-btn span {
        position: absolute;
        transition: 0.2s;
        top: 17px;
        left: 4px;
    }

    .burger-btn span, .burger-btn span:after, .burger-btn span:before {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #57D6FF;
    }

    .burger-btn span:before {
        content: "";
        position: absolute;
        transition: 0.5s;
        transform: translateY(8px);
    }

    .burger-btn span:after {
        content: "";
        position: absolute;
        transition: 0.5s;
        transform: translateY(-8px);
    }

    .burger-btn-active span {
        height: 0;
        transition: 0.1s;
    }

    .burger-btn-active span:after {
        transition: 0.5s;
        transform: rotate(-35deg);
    }

    .burger-btn-active span:before {
        transition: 0.5s;
        transform: rotate(35deg);
    }
}
