.footer {
    background-color: #171717;
    padding: 70px 20px;
}

.footer_section {
    justify-content: space-between;
}

@media (max-width: 927px) {
    .footer_section {
        flex-direction: column;
        gap: 20px;
    }
}

.footer_desc {
    font-family: 'Pulsar', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 11px;
    color: #ECECEC;
}

.footer_nav {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Aire-Exterior', sans-serif;
}

@media (max-width: 437px) {
    .footer_nav {
        flex-direction: column;
    }
}
