.swiper-slide {
    height: 80vh;
}

.my_slide {
    width: 100%;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    border-radius: 20px;
}

.slide_desc {
    max-width: 632px;
    text-align: center;
    margin-top: 100px;
}

.slide_desc span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

h1 {
    font-family: 'Aire-Exterior', sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

