.how_it_work {
    display: flex;
    align-items: stretch;
    gap: 66px;
    justify-content: space-around;
    margin-bottom: 90px;
    padding: 0 20px;
}

.how_it_work_img {
    height: inherit;
    flex-basis: 680px;
    background: url("../../assets/img/ImageServerHost.png") no-repeat center;
    background-size: contain;
}

@media (max-width: 776px) {
    .how_it_work {
        flex-direction: column;
    }

    .how_it_work_img {
        flex-basis: 400px;
    }

    .how_it_work_desc p:nth-of-type(1):after {
        display: none;
    }

}


.how_it_work_desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}

.how_it_work_desc {
    flex-basis: 480px;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 150%;
    color: #ABABAB;
    position: relative;
}

.how_it_work_desc p:nth-of-type(1) {
    display: block;
    position: relative;
}

.how_it_work_desc p:nth-of-type(1):after {
    content: '';
    position: absolute;
    width: 271px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -50px;
    left: 0;
}